
/*Barra de navegacion*/

@media all and (min-width: 767px) {
    .navbar-brand{
        color: antiquewhite;    
    }
    .navbar-nav .nav-link.active{
        color: antiquewhite;    
    }
    .nav-link{
        color: antiquewhite;
    }
    .navbar-brand:hover{
        color: blueviolet;
        transition: 1s;
    }
    .navbar-nav .nav-link.active:hover{
        color: blueviolet;
        transition: 1s;
    }
    .nav-link:hover{
        color: blueviolet;
        transition: 1s;
    }
}

/*DARK MODE*/

body{
    background-color: black;
}
.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}

/* MAIN MENU */
@media all and (min-width: 767px) {
    .card{
        width: 100%;
        height: auto;
    }
}

.card{
    position: relative;
}
.card-body{
    background-color: beige;
}
.card-text{
    color: black;
    text-align: center; 
    font-weight: bolder;  
}
.card-title{
    color: black;
    text-align: center;   
}
.boton{
    color: black;  
}
.card:hover .description{
    display: block;
}

.description1{
    position: absolute;
    display: none;
    text-align: center;
    padding: 10px;
    color: antiquewhite;
    background: rgba(0,0,0,.7);
    font-style: italic;
    margin-top: 3rem;
}


/* Parte nueva del codigo despues de elegir la pelicula */

#conGeneral{
    margin: 0px;
    max-width: none;
    min-height: 653px;
}

#page{
    background-image: url(/assets/FondoCine.png);
    min-height: 653px;
    font-weight: bold;
    justify-content: center;
}

#contImagen{
    align-self: center;
    text-align: center;
}

@media all and (min-width: 767px) {
    #contImagen{
        padding: 0rem;

    }
}

#continfo{
    align-self: center;
}

@media all and (min-width: 767px) {
    #continfo{
        background-color:silver ;
        height: 300px;

    }
}
@media all and (min-width: 767px) {
    .botonesdePag{
       width: 100%;
       margin: 1rem 0rem;
    }
}

